<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/stylesheets/foreign.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+Display:wght@300;400;600&display=swap" rel="stylesheet">
    <script src='/javascripts/foreign.js' defer></script>
</head>
<body>
    <div id='wrap'>
        <div id='container'>
            <div id='container1'>
                <a id='logout'>
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <div id='title'>
                    <h3>Investing Flex</h3>
                </div>
                <div id='menu'>
                    <a href='/main' class='menuu menu1'>
                        <span><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                    <a href='/korean' class='menuu menu2'>
                        <span><img><i class="fas fa-won-sign"></i></span>
                        <span>Korean</span>
                    </a>
                    <a href='/foreign' class='menuu menu3'>
                        <span><img><i class="fas fa-dollar-sign"></i></span>
                        <span>foreign</span>
                    </a>
                    <a href='/discussion' class='menuu menu4'>
                        <span><img><i class="far fa-clipboard"></i></span>
                        <span>Discussion on stocks</span>
                    </a>
                    <a href='/news' class='menuu menu5'>
                        <span><img><i class="fas fa-newspaper"></i></span>
                        <span>News</span>
                    </a>
                </div>
                <div id='report'>
                    <div id='imgbox'>
                        <img src='../images/img1.png' width="100%" height="100%">
                    </div>
                    <div id='reporttitle'>
                        <h3>PDF Report</h3>
                        <p>Annual detailed report</p>
                    </div>
                    <a href="#">Download</a>
                </div>
            </div>
            <div id='container2'>
                <div id='search'>
                    <i class="fas fa-search"></i>
                    <input type='text' placeholder="Search">
                </div>
                <h1>Foreign</h1>
                <div id='section'>
                  <div id='section1'>
                      <p>실시간 순위</p>
                  </div>
                  <div id='section2'>
                      <p>세계지표</p>
                  </div>
                  <div id='section3'>
                      <p>환율</p>
                  </div>
                  <div id='section4'>
                      <p>시계</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>