<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/stylesheets/korean.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+Display:wght@300;400;600&display=swap" rel="stylesheet">
    <script src='/javascripts/korean.js' defer></script>
</head>
<body>
    <div id='wrap'>
        <div id='container'>
            <div id='container1'>
                <a href="/" id='logout'>
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <div id='title'>
                    <h3>Investing Flex</h3>
                </div>
                <div id='menu'>
                    <a href='/main' class='menuu menu1'>
                        <span><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                    <a href='/korean' class='menuu menu2'>
                        <span><i class="fas fa-won-sign"></i></span>
                        <span>Korean</span>
                    </a>
                    <a href='/foreign' class='menuu menu3'>
                        <span><i class="fas fa-dollar-sign"></i></span>
                        <span>foreign</span>
                    </a>
                    <a href='/discussion' class='menuu menu4'>
                        <span><i class="fab fa-bitcoin"></i></span>
                        <span>Coin</span>
                    </a>
                    <a href='/news' class='menuu menu5'>
                        <span><i class="far fa-calendar-alt"></i></span>
                        <span>Calendar</span>
                    </a>
                </div>
                <div id='report'>
                    <div id='imgbox'>
                        <img src='../images/img1.png' width="100%" height="100%">
                    </div>
                    <div id='reporttitle'>
                        <h3>PDF Report</h3>
                        <p>Annual detailed report</p>
                    </div>
                    <a href="#">Download</a>
                </div>
            </div>
            <div id='container2'>
                <div id='search'>
                    <div id='title2'>
                        <h1>Korean</h1>
                    </div>
                    <i class="fas fa-search"></i>
                    <input type='text' placeholder="Search">
                </div>
                <div id='ticker'>
                    <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container" style="width: 100%; height: 100%;">
                    <div class="tradingview-widget-container__widget" style="width: 100%; height: 100%;"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                        "symbols": [
                        {
                        "description": "삼성전자",
                        "proName": "KRX:005930"
                        },
                        {
                        "description": "카카오",
                        "proName": "KRX:035720"
                        },
                        {
                        "description": "하이닉스",
                        "proName": "KRX:000660"
                        },
                        {
                        "description": "NAVER",
                        "proName": "KRX:035420"
                        },
                        {
                        "description": "KOSDAQ150",
                        "proName": "KRX:KOSDAQ150"
                        },
                        {
                        "description": "KOSPI200",
                        "proName": "KRX:KOSPI200"
                        }
                    ],
                    "showSymbolLogo": true,
                    "colorTheme": "light",
                    "isTransparent": false,
                    "displayMode": "adaptive",
                    "locale": "kr"
                }
                    </script>
                </div>
                <!-- TradingView Widget END -->
                </div>
                <div id='section'>
                  <div id='section1'>
                    <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
                            {
                            "colorTheme": "light",
                            "dateRange": "12M",
                            "exchange": "KRX",
                            "showChart": true,
                            "locale": "kr",
                            "width": "100%",
                            "height": "100%",
                            "largeChartUrl": "",
                            "isTransparent": false,
                            "showSymbolLogo": true,
                            "showFloatingTooltip": false,
                            "plotLineColorGrowing": "#32245e",
                            "plotLineColorFalling": "#32245e",
                            "gridLineColor": "rgba(42, 46, 57, 0)",
                            "scaleFontColor": "rgba(120, 123, 134, 1)",
                            "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.3)",
                            "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                            "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                            "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                            "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
                        }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                  </div>
                  <div id='section2'>
                      <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                            {
                            "interval": "1m",
                            "width": "100%",
                            "isTransparent": false,
                            "height": "100%",
                            "symbol": "KRX:005930",
                            "showIntervalTabs": true,
                            "locale": "kr",
                            "colorTheme": "light"
                        }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                  </div>
                  <div id='section3'></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>