<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/stylesheets/login.css">
    <script src='/javascripts/login.js' defer></script>
</head>
<body>
    <div id='wrap'>
        <div id='left'>
            <h1>Investing Flex</h1>
            <div id='textbox'>
                <p>search indicator</p>
                <p>create investment plan</p>
                <p>stock discussion</p>
            </div>

        </div>
        <div id='right'>
            <div id='container1'>
                <div id='loginlogout'>
                    <a href="/">LOGIN</a>
                    <a href="/resister">SIGN UP</a>
                </div>
                <div id='idpw'>
                    <form>
                        <input type=text placeholder="Enter Your Name" id='id'>
                        <input type=password placeholder="Enter Your Password" id='password'>
                        <p id='submit'>LOGIN</P>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>