<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/stylesheets/main.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+Display:wght@300;400;600&display=swap" rel="stylesheet">
    <script src='/javascripts/main.js' type="module" defer></script>
    <!-- <script src='/javascripts/test1.js' defer></script> -->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async></script>
</head>
<body>
    <div id='wrap'>
        <div id='container'>
            <div id='container1'>
                <a id='logout'>
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <div id='title1'>
                    <h3>Investing Flex</h3>
                </div>
                <div id='menu'>
                    <a href='/main' class='menuu menu1'>
                        <span><i class="fas fa-home"></i></span>
                        <span>Home</span>
                    </a>
                    <a href='/korean' class='menuu menu2'>
                        <span><img><i class="fas fa-won-sign"></i></span>
                        <span>Korean</span>
                    </a>
                    <a href='/foreign' class='menuu menu3'>
                        <span><img><i class="fas fa-dollar-sign"></i></span>
                        <span>foreign</span>
                    </a>
                    <a href='/discussion' class='menuu menu4'>
                        <span><img><i class="far fa-clipboard"></i></span>
                        <span>Discussion on stocks</span>
                    </a>
                    <a href='/news' class='menuu menu5'>
                        <span><img><i class="fas fa-newspaper"></i></span>
                        <span>News</span>
                    </a>
                </div>
                <div id='report'>
                    <div id='imgbox'>
                        <img src='../images/img1.png' width="100%" height="100%">
                    </div>
                    <div id='reporttitle'>
                        <h3>PDF Report</h3>
                        <p>Annual detailed report</p>
                    </div>
                    <a href="#">Download</a>
                </div>
            </div>
            <div id='container2'>
                <div id='search'>
                    <div id='title2'>
                        <h1>Home</h1>
                    </div>
                    <i class="fas fa-search"></i>
                    <input type='text' placeholder="Search">
                </div>
                <div id='ticker'>
                    <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                    <div class="tradingview-widget-container__widget"></div>
                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                    "symbols": [
                    {
                        "description": "GOLD",
                        "proName": "TVC:GOLD"
                    },
                    {
                        "description": "SILVER",
                        "proName": "TVC:SILVER"
                    },
                    {
                        "description": "BITCOIN",
                        "proName": "BITSTAMP:BTCUSD"
                    },
                    {
                        "description": "NASDAQ",
                        "proName": "NASDAQ:NDX"
                    }
                    ],
                    "showSymbolLogo": true,
                    "colorTheme": "light",
                    "isTransparent": false,
                    "displayMode": "adaptive",
                    "locale": "kr"
                }
                    </script>
                </div>
                <!-- TradingView Widget END -->
                </div>
                <div id='section'>
                  <div id='section1'>
                   <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container" style="width: 100%; height: 100%;">
                        <div id="tradingview_64b67" style="width: 100%; height: 100%;"></div>
                    </div>
                <!-- TradingView Widget END -->
                  </div>
                  <div id='section2'>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                        {
                        "symbol": "FX_IDC:USDKRW",
                        "width": "100%",
                        "height": "100%",
                        "locale": "kr",
                        "dateRange": "12M",
                        "colorTheme": "light",
                        "trendLineColor": "#32245e",
                        "underLineColor": "rgba(41, 98, 255, 0.3)",
                        "underLineBottomColor": "rgba(255, 229, 153, 0)",
                        "isTransparent": false,
                        "autosize": true,
                        "largeChartUrl": ""
                    }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                  </div>
                  <div id='section3'>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                        {
                        "width": "100%",
                        "height": "100%",
                        "defaultColumn": "overview",
                        "screener_type": "crypto_mkt",
                        "displayCurrency": "USD",
                        "colorTheme": "light",
                        "locale": "kr"
                    }
                        </script>
                    </div>
                        <!-- TradingView Widget END -->
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        new TradingView.widget(
        {
        "autosize": true,
        "symbol": "KRX:KOSPI",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "kr",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_64b67"
      }
        );
        </script>
</body>
</html>