<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" X-Content-Type-Options: nosniff>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="/stylesheets/news.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+Display:wght@300;400;600&display=swap" rel="stylesheet">
    <script src='/javascripts/news.js' defer></script>
    <!-- <script>
        function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
    function setUpbitData(){
      $.ajax({
        url: "https://api.upbit.com/v1/market/all",
        dataType: "json"
      }).done(function(markets){
        //$("#tmp").html( JSON.stringify(markets) );
        let arr_krw_markets = "";
        let arr_korean_name = [];
        for(var i = 0; i < markets.length;i++){
          if( markets[i].market.indexOf("KRW") > -1 ){
            arr_krw_markets += markets[i].market+(",");
            arr_korean_name.push(markets[i].korean_name.replace("코인",""));
          }
        }
        arr_krw_markets = arr_krw_markets.substring(0, arr_krw_markets.length-1);
        //$("#tmp").html( arr_krw_markets );
        $.ajax({
          url: "https://api.upbit.com/v1/ticker?markets=" +arr_krw_markets,
          dataType: "json"
        }).done(function(tickers){
          $("#table_ticker > tbody > tr").remove();
          //alert($("#table_ticker > tbody > tr").length);
        //   $("#table_ticker").fadeOut("slow");

          for(let i = 0;i < 20;i++){
            let rowHtml = "<tr><td>"+arr_korean_name[i].replace("코인","").replace("토큰","")+"</td>";
            //rowHtml += "<td>" + arr_korean_name[i] +"</td>"
            rowHtml += "<td>" + comma(tickers[i].trade_price)+"</td>"
            rowHtml += "<td>" + comma((tickers[i].signed_change_rate*100).toFixed(2))+"</td>"
            rowHtml += "<td>" + comma((     tickers[i].acc_trade_price_24h>1000000 ? ( tickers[i].acc_trade_price_24h / 1000000 ) : tickers[i].acc_trade_price_24h ).toFixed(0)) + (tickers[i].acc_trade_price_24h>1000000 ? "백만" : "") + "</td>"
            rowHtml += "</tr>";
            $("#table_ticker > tbody:last").append(rowHtml);
            //markets[i].korean_name
          } // end for...
          $("#table_ticker").fadeIn("slow");
        })  //done(function(tickers){
      }) // end done(function(markets){
      .fail(function(){
        //alert("업비트 API 접근 중 에러.")}
        $("#tmp").text( "API 접근 중 에러." );
      })
      setTimeout(setUpbitData, 3000);
    }
    $(function() {
      var color = localStorage.getItem("test_upbit_color");
      if( color ) $("body").css("color", color);
      setUpbitData();
    });
    function setColor(color){
      localStorage.setItem("test_upbit_color", color);
      $("body").css("color", color);
    }
    </script>
  	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109501118-1"></script>
  	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-109501118-1');
    </script> -->
</head>
<body>
    <div id='wrap'>
        <div id='container'>
            <div id='container1'>
                <a id='logout'>
                    <i class="fas fa-angle-double-left"></i>
                </a>
                <div id='title'>
                    <h3>Investing Flex</h3>
                </div>
                <div id='menu'>
                  <a href='/main' class='menuu menu1'>
                    <span><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
                <a href='/korean' class='menuu menu2'>
                    <span><i class="fas fa-won-sign"></i></span>
                    <span>Korean</span>
                </a>
                <a href='/foreign' class='menuu menu3'>
                    <span><i class="fas fa-dollar-sign"></i></span>
                    <span>foreign</span>
                </a>
                <a href='/discussion' class='menuu menu4'>
                    <span><i class="fab fa-bitcoin"></i></span>
                    <span>Coin</span>
                </a>
                <a href='/news' class='menuu menu5'>
                    <span><i class="far fa-calendar-alt"></i></span>
                    <span>Calendar</span>
                </a>
                </div>
                <div id='report'>
                    <div id='imgbox'>
                        <img src='../images/img1.png' width="100%" height="100%">
                    </div>
                    <div id='reporttitle'>
                        <h3>PDF Report</h3>
                        <p>Annual detailed report</p>
                    </div>
                    <a href="#">Download</a>
                </div>
            </div>
            <div id='container2'>
              <div id='search'>
                <div id='title2'>
                    <h1>Calendar</h1>
                </div>
                <i class="fas fa-search"></i>
                <input type='text' placeholder="Search">
            </div>
            <div id='ticker'>
                <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
              {
              "symbols": [
                {
                  "proName": "FOREXCOM:SPXUSD",
                  "title": "S&P 500"
                },
                {
                  "proName": "FOREXCOM:NSXUSD",
                  "title": "US 100"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR/USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "비트코인"
                },
                {
                  "description": "KOSPI",
                  "proName": "KRX:KOSPI"
                }
              ],
              "colorTheme": "light",
              "isTransparent": false,
              "showSymbolLogo": true,
              "locale": "kr"
            }
              </script>
            </div>
            <!-- TradingView Widget END -->
            </div>
                <div id='section'>
                  <div id='section1'>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                      <div class="tradingview-widget-container__widget"></div>
                      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
                      {
                      "width": "100%",
                      "height": "100%",
                      "colorTheme": "light",
                      "isTransparent": false,
                      "locale": "kr",
                      "importanceFilter": "-1,0,1",
                      "currencyFilter": "KRW"
                    }
                      </script>
                    </div>
                    <!-- TradingView Widget END -->
                  </div>
                  <!-- <div id='section2'>
                      <p>세계지표</p>
                  </div>
                  <div id='section3'>
                      <p>환율</p>
                  </div>
                  <div id='section4'>
                      
                  </div> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>